<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>About</title>
</head>
<body>
  <h1>About Vigor Electronics</h1>

  <p>Vigor Electronics is a friendly, full-service computer store specializing in custom PCs, laptops, components, and reliable repairs. <br>
    We help customers choose the right tech for work, school, and gaming, with honest advice, fast turnaround, and expert local support.</p>

  <a href="http://localhost:8080/">Link
    to Main Screen</a>
</body>
</html>